<div class="container-fluid">
    <div id="content-wrapper">
        <div class="page-content">
            <div class="row">
                <div class="app-header">
                    <div class="col-xs-1">
                        <a href="#/projects/{{AnnotateCtrl.design.project}}"><i class="fa fa-arrow-left"></i></a>
                    </div>
                <div class="col-xs-3">
                    <h1>{{AnnotateCtrl.design.name}}</h1>
                </div>

                    <div class="col-xs-3">
                        <select ng-model="orderProp" class="form-control">
                            <option value="" selected>Sort by</option>
                            <option value="name">By Name</option>
                            <option value="-created">Latest</option>
                            <option value="created">Oldest</option>
                        </select>
                    </div>
                </div> <!-- header -->
            </div>
            <div class="design-img">
                <img ng-src="{{ AnnotateCtrl.design.img.full }}" ng-click="AnnotateCtrl.annotate($event)" class="lan">
                 <ul>
                    <li
                    ng-repeat="mark in AnnotateCtrl.design.annotations track by $index"
                    class="cd-single-point"
                    ng-style="{ 'background' : mark.circle.color, 'top':mark.circle.y - 15 + 'px', 'left': mark.circle.x - 15 + 'px'}"
                    ng-class="{'is-open': AnnotateCtrl.openComment && $index === AnnotateCtrl.commentSelected}"
                    ng-mouseleave="AnnotateCtrl.toggleComments($index)">

                        <a class="cd-img-replace" ng-mouseenter="AnnotateCtrl.toggleComments($index)">More</a>
                            <div
                                class="cd-more-info"
                                ng-class="AnnotateCtrl.checkCoords(mark.circle.x, 500) ? 'cd-left' : 'cd-right'"
                            >

                            <p>{{mark.body}}</p>
                           <div class="form-group">
                               <input type="text">
                           </div>
                            <a href="#0" class="cd-close-info cd-img-replace">Close</a>
                        </div>
                    </li>

                    <!-- handle new annotations -->
                    <li  ng-show="AnnotateCtrl.newAnnotation !== null" ng-style="{ 'background' : AnnotateCtrl.newAnnotation.circle.color, 'top':AnnotateCtrl.newAnnotation.circle.y - 15 + 'px', 'left':AnnotateCtrl.newAnnotation.circle.x - 15 + 'px'}" class="cd-single-point is-open">

                        <a class="cd-img-replace" ng-click="AnnotateCtrl.clearForm()">More</a>

                        <div
                            class="cd-more-info"
                            ng-class="AnnotateCtrl.checkCoords(AnnotateCtrl.newAnnotation.circle.x, 500) ? 'cd-left' : 'cd-right'"
                        >
                           <form name="loginForm"  ng-submit="AnnotateCtrl.addAnnotation(AnnotateCtrl.newAnnotation)" role="form">
                               <div class="form-group">
                                   <label for="annotateBody">Comment</label>
                                   <input ng-model="AnnotateCtrl.newAnnotation.body" type="text" class="form-control" placeholder="Write your comment" set-focus="focus-this">
                               </div>
                               <button type="submit" class="btn btn-sm btn-primary">Add</button>
                           </form>


                            <a href="#0" class="cd-close-info cd-img-replace">Close</a>
                        </div>

                    </li>
                </ul>
                <h1>{{AnnotateCtrl.height}}</h1>
            </div> <!-- design-img -->
        </div><!-- End row -->
    </div><!-- End Page Content -->
</div><!-- End Content Wrapper -->


 <!-- .cd-single-point -->
