<div class="row fix">
                <!-- <div class="app-header" ng-style="style"> -->
                <!-- <div  ng-class="{'app-headerFull2' : openHead}" ng-style="style"> -->
                <div  class="app-header2" ng-class="{true:'app-headerFull2', false:'app-header2' }[AnnotateCtrl.openHead]" ng-style="style">
                     <div class="row headTopRow">
                     <ul>

                        <li class="head-design-col" ng-repeat="des in AnnotateCtrl.allDesigns.designs">

                            <!-- active-design -->
                            <div class="head-design-container" ng-if="AnnotateCtrl.matchDesignId(des._id)">

                                <img ng-src="{{ des.img.thumbnail }}" class="design-head-img active-design">

                                <p class="anno-head-img-title">{{des.name}}</p>
                            </div>

                            <div class="head-design-container" ng-if="!AnnotateCtrl.matchDesignId(des._id)">
                                <a href="#/design/{{des._id}}">
                                    <img ng-src="{{ des.img.thumbnail }}" class="design-head-img">
                                </a>
                                <a href="#/design/{{des._id}}" class="anno-head-img-title">{{des.name}}</a>
                            </div>

                        </li>
                     </ul>

                    </div>
                    <div class="row headBotRow">
                        <div class="col-md-5 project--name-header">
                            <a href="#/projects/{{AnnotateCtrl.design.project._id}}">{{AnnotateCtrl.design.project.name}}</a>
                            <span class="desName" ng-click="AnnotateCtrl.toggleHeader()"> : {{AnnotateCtrl.design.name}}</span>
                        </div>

                        <div class="col-md-7 filter--options-header pull-right">
                           <div class="filter--options">
                               <label ng-repeat="check in AnnotateCtrl.filterOptions track by $index">
                                    <input type="checkbox" ng-model="check.on" name="text" value="text"  />
                                    <span class="label-text" ng-class="[check.klass]" >{{check.name}}</span>
                                </label>
                           </div>

                            <i class="fa fa-bars" ng-click="AnnotateCtrl.toggleHeader()" ></i>
                            <i class="fa fa-check-square-o task--icon" ng-click="AnnotateCtrl.toggleTaskBar()" ></i>

                        </div>

                    </div>
                </div> <!-- header -->
            </div>