<div class="container-fluid">
    <div id="content-wrapper">
        <div class="page-content">
            <div class="row">
                <div class="app-header">
                    <div class="col-xs-1">
                        <a href="#/projects/{{AnnotateCtrl.design.project}}"><i class="fa fa-arrow-left"></i></a>
                    </div>
                <div class="col-xs-3">
                    <h1>{{AnnotateCtrl.design.name}}</h1>
                </div>

                    <div class="col-xs-3">
                        <select ng-model="orderProp" class="form-control">
                            <option value="" selected>Sort by</option>
                            <option value="name">By Name</option>
                            <option value="-created">Latest</option>
                            <option value="created">Oldest</option>
                        </select>
                    </div>
                </div> <!-- header -->
            </div>
            <div class="design-img">
                <img ng-src="{{ AnnotateCtrl.design.img.full }}" ng-click="AnnotateCtrl.annotate($event)" class="lan">
                 <ul>

                    <li
                    ng-repeat="mark in AnnotateCtrl.design.annotations track by $index"
                    class="annotation"
                    ng-style="{ 'background' : mark.circle.color, 'top':mark.circle.y - 15 + 'px', 'left': mark.circle.x - 15 + 'px'}"
                    ng-class="{'is-open': AnnotateCtrl.openComment && $index === AnnotateCtrl.commentSelected && AnnotateCtrl.newAnnotation === null}">

                        <a class="annotation--mark" ng-click="AnnotateCtrl.toggleComments($index)">More</a>

                            <div
                                class="annotation--details"
                                ng-class="AnnotateCtrl.checkCoords(mark.circle.x, 500) ? 'annotation--details-left' : 'annotation--details-right'"
                            >
                                <div class="annotation--details-header clearfix">
                                    <!-- close popup -->
                                    <span class="fa fa-close pull-right" ng-click="AnnotateCtrl.toggleComments($index)"></span>
                                </div>

                                <div class="annotation--details-body clearfix">

                                    <span class="comment--owner">{{mark.owner.username}}</span>


                                    <span am-time-ago="mark.created" class="comment--date pull-right fa  fa-clock-o"></span>

                                    <div class="comment--body">
                                        <p>{{mark.body}}</p>
                                    </div>



                                </div>

                                <div class="annotation--task-container">

                                    <div class="annotation--task-body">

                                        <!-- hide if task defined -->
                                        <span ng-if="!mark.task" class="fa fa-plus-square annotation--details-assign" ng-if="!AnnotateCtrl.assignTask"> assign as task</span>
                                        <!-- no task assigned -->

                                        <div ng-if="mark.task" class="annotation--task-details">
                                            {{mark.task.action}}
                                        </div>

                                    </div>



                                    <!-- task to go here -->
                                    <!-- if no task button to create task -->
                                </div>
                                <!-- /.annotation--task -->

                                <div class="annotation--comments-container">

                                    <!-- list of comments -->
                                    <ul class="annotation--comments">
                                        <li class="annotation--comments-item" ng-repeat="comment in mark.comments">
                                            <div class="annotation--details-body clearfix">

                                                <span class="comment--owner">{{comment.owner.username}}</span>


                                                <span am-time-ago="comment.created" class="comment--date pull-right fa  fa-clock-o"></span>

                                                <div class="comment--body">
                                                    <p>{{comment.body}}</p>
                                                </div>

                                            </div>
                                    </ul>

                                    <!-- form to add new comment -->
                                    <form name="commentForm" role="form" ng-submit="AnnotateCtrl.addComment(AnnotateCtrl.comment, mark, this)">

                                        <div class="form-group">

                                            <textarea class="form-control annotation--comments-reply" row="3"
                                            ng-model="AnnotateCtrl.comment.body" name="reply"
                                            ng-init="focus = false"
                                            ng-focus="focus = true"
                                            ng-blur="focus = false"
                                            ng-class="{
                                                'comment--expand' : focus || (commentForm.reply.$touched && commentForm.reply.$dirty)
                                            }"
                                            placeholder="Enter reply here"
                                            ></textarea>

                                            <input type="hidden" ng-model="AnnotateCtrl.comment.annotation" value="{{mark._id}}">

                                            <!-- hide if form is pristine -->
                                            <button type="submit" class="btn btn-primary btn-block btn-reply" ng-if="focus || (commentForm.reply.$touched && commentForm.reply.$dirty)">Add comment</button>


                                        </div>

                                    </form>

                                </div>
                                <!-- /.annotation--comments -->

                            </div>
                    </li>

                    <li class="annotation is-open" ng-show="AnnotateCtrl.newAnnotation !== null"
                    ng-style="{ 'background' : AnnotateCtrl.newAnnotation.circle.color, 'top':AnnotateCtrl.newAnnotation.circle.y - 15 + 'px', 'left':AnnotateCtrl.newAnnotation.circle.x - 15 + 'px'}"
                    >

                        <a  class="annotation--mark" ng-click="AnnotateCtrl.clearForm()">more</a>

                        <div class="annotation--details"
                        ng-class="AnnotateCtrl.checkCoords(AnnotateCtrl.newAnnotation.circle.x, 500) ? 'annotation--details-left' : 'annotation--details-right'"
                        >
                            <!-- circles -->
                            <!-- close -->

                            <div class="annotation--details-header clearfix">
                                <!-- select target person -->
                                <ul class="annotation--person">
                                    <li class="annotation--person-circle circle--every circle--selected" tooltip="Everyone" tooltip-placement="bottom"></li>
                                    <li class="annotation--person-circle circle--design" tooltip="Designer" tooltip-placement="bottom"></li>
                                    <li class="annotation--person-circle circle--dev" tooltip="Developer" tooltip-placement="bottom"></li>
                                </ul>

                                <!-- close popup -->
                                <span class="fa fa-close pull-right" ng-click="AnnotateCtrl.clearForm()"></span>
                            </div>

                            <form ng-submit="AnnotateCtrl.addAnnotation(AnnotateCtrl.newAnnotation)" role="form">

                                <div class="form-group">
                                    <label for="projectDesc">Comment</label>
                                    <textarea ng-model="AnnotateCtrl.newAnnotation.body" class="form-control project--desc" row="3"></textarea>
                                </div>

                                <span class="fa fa-plus-square annotation--details-assign" ng-if="!AnnotateCtrl.assignTask" ng-click="AnnotateCtrl.toggleAssign()"> assign as task</span>

                                <div class="annotation--details-collaborators" ng-if="AnnotateCtrl.assignTask">
                                    <div class="form-group">
                                        <label>Assign to </label> <br />
                                        <select ng-model="AnnotateCtrl.newAnnotation.assignedTo" class="form-control" >
                                            <option value="">Assign to</option>
                                            <option ng-repeat="collaborator in AnnotateCtrl.design.project.collaborators" value="{{collaborator._id}}">{{collaborator.username}}</option>
                                        </select>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary btn-block">Add annotation</button>

                            </form>
                            <!-- form -->

                        </div> <!-- /annotation--details -->
                    </li>
                </ul>
                <h1>{{AnnotateCtrl.height}}</h1>
            </div> <!-- design-img -->
        </div><!-- End row -->
    </div><!-- End Page Content -->
</div><!-- End Content Wrapper -->


 <!-- .cd-single-point -->
