$is-open: #475f74;

.annotation {
    position: absolute;
    border-radius: 50%;

    &--mark {
        position: relative;
        z-index: 2;
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #d95353;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.3);
        -webkit-transition: background-color 0.2s;
        -moz-transition: background-color 0.2s;
        transition: background-color 0.2s;
        color: $off-white;
        text-align: center;
        line-height: 30px;
        text-indent: 0;
        cursor: pointer;

        &:hover {
            color: $off-white;
        }
    }

  // annotation popup body
    &--details {
        position: absolute;
        width: 320px;
        padding: 15px 15px 0 15px;
        overflow-y: visible;
        line-height: 1.4;
        border-radius: 0.25em;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        background: #fff;
        display: none;

        &-left {
            right: 160%;
            left: auto;
            top: -40px;

            &::before {
                border-left-color: rgba(255, 255, 255, 0.95);
                left: 100%;
            }
        }

        &-right {
            left: 160%;
            top: -40px;

            &::before {
                border-right-color: rgba(255, 255, 255, 0.95);
                right: 100%;
            }
        }

    &-top,
    &-bottom {
        left: 50%;
        right: auto;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    &-top::before {
        border-top-color: rgba(255, 255, 255, 0.95);
        top: 100%;
    }

    &-bottom::before {
        border-bottom-color: rgba(255, 255, 255, 0.95);
        bottom: 100%;
    }

    &::before {
        content: '';
        position: absolute;
        height: 0;
        width: 0;
        display: none;
        border: 8px solid transparent;
    }

  }


    &--details-header {
        margin-bottom: 15px;
        position: relative;
    }

    &--details-assign {
        color: $blue;
        cursor: pointer;
        display: block;

        &::before {
          margin-right: 10px;
        }

    }

    &--details-close {
        position: absolute;
        top: 10px;
        right: 0;
    }

    &--details-type,
    &--details-priority {
        display: inline-block;
    }

    &--details-priority {
        margin-left: 20px;
    }

}

.annotation--details-type > p {
    margin-bottom: 3px;
}

.priority-label {
    margin-bottom: 3px;
    cursor: pointer;
    font-weight: 400;
}

.annotaion--btn {
    margin: 0 0 15px 0;
}

.is-open {

    .annotation--details {
        display: block;
        z-index: 1999;
    }

    .annotation--mark {
        opacity: 0.3;
    }

    .annotation--mark::after,
    .annotation--mark::before {
        -webkit-transform: translateX(-50%) translateY(-50%) rotate(135deg);
        -moz-transform: translateX(-50%) translateY(-50%) rotate(135deg);
        -ms-transform: translateX(-50%) translateY(-50%) rotate(135deg);
        -o-transform: translateX(-50%) translateY(-50%) rotate(135deg);
        transform: translateX(-50%) translateY(-50%) rotate(135deg);
    }
}

.annotation--mark {
    // color for everyone mark
}

.type-text {
    background-color: $text-type-color;
}

.type-image {
    background-color: $image-color;
}

.type-color {
    background-color: $color-color;
}

.type-layout {
    background-color: $layout-color;
}

.type-general {
    background-color: #4570FF;
}

.comment {
    &--owner {
        font-size: 18px;
        color: #333;
        width: 56%;
        display: inline-block;
    }

    &--date {
        font-size: 12px;
        margin-top: 5px;
        color: darken($icon-grey, 15%);

        &::before {
          margin-right: 6px;
        }
    }

    &--body {
      padding: 10px 0;
    }
}

/*
 *
 *
 *
 * Annotation type radio btns
 *
 *
 *
 */

.annotation--type {
    display: inline-block;
    margin-right: 10px;

    label {
        cursor: pointer;
    }
}

.radio {
    &--layout {
        color: $layout-color;
    }

    &--image {
        color: $image-color;
    }

    &--text {
        color: $text-type-color;
    }

    &--color {
        color: $color-color;
    }

    &--general {
        color: #4570FF;
    }
}

// hide radio btns
.hidden--radio {
    display: none;
}

.priority--input {
    margin-left: 10px;
}

.hidden--radio + label span:after {
    content: "\f1db";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 18px;
}

.hidden--radio:checked + label span:after {
    content: "\f192";
}

.annotation--task {

    &-container {
        background: $body-bg;
        margin: 0 -15px;
    }

    &-body {
        padding: 15px;
    }

    &-empty {
        text-align: center;
    }

}

.comment--expand {
    min-height: 80px;
}

.annotation--comments {
    max-height: 200px;
    overflow-y: scroll;
    margin-bottom: 15px;

    &-item {
        margin-top: 10px;
        border-bottom: 1px solid $body-bg;

        &:last-child {
            border-bottom: none;
        }
    }

    &-reply {
        height: 40px !important;
    }
}

.btn-reply {
    margin-top: 15px;
}

.priority-mark {
    border: 4px solid red;
}

// priorty input
.priority--input {
    display: none;
}

.priority--input:checked {

}

.priority--input + span:after {
    content: "\f1db";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 18px;
    color: $red;
}

.priority--input:checked + span:after {
    content: "\f058";
}

.priority--span {
    margin-left: 24px;
    cursor: pointer;
}

.project--name-header {
    margin-top: 11px;
}

.newannotation--assign {
    padding-bottom: 15px;
}

.filter--options {
    margin-top: 10px;
    display: inline-block;
    margin-right: 30px;
}

.filter--options input[type="checkbox"]{
    display:none;
    margin:0 15px 0 5px;
}

.filter--options-header {
    text-align: right;

    > .fa {
        cursor: pointer;
    }
}

// annotate header icons

// .fa-bars, .fa-times{
//     position: absolute;
//     right: 60px;
//     top: -5px;
//     font-size: 30px;
// }

// .task--icon {
//     position: absolute;
//     font-size: 30px;
//     right:25px;
//     top:-4px;
// }