$border: 3px;
$drag-color: $text-color;

.drop-box {
    border-radius: 3px;
    border: $border dashed $drag-color;
}

.dragover {
    border: $border dashed green;
}

.dragover-err {
    border: $border dashed red;
}

.drag-container {
    font-size: 14px;
    text-align: center;
    color: $drag-color;
    padding: 24px 30px;

    // set fontsize of icon
    .fa {


        font: {
            size: 100px;
        }
    }
}
