.project--img {

    &-container {
        overflow: hidden;
        max-height: 250px;
        position: relative;
        border-radius: 4px;
        border:2px solid rgba(#b8b8b8, 0.3);

        &:hover {
            .project--img-settings {
                display: block;
            }

            .project--img-bg {
                display: block;
            }
        }

    }

    &-bg {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: rgba($dark-grey, 0.65);
        display: none;
    }

    // center align icons
    &-settings {
        position: absolute;
        top: 47%;
        left: 0;
        right: 0;
        display: none;
        height: 100%;
    }

    &-icons {
        text-align: center;
    }

    &-icons a {
        color: darken($off-white, 25%);
    }

    &-icons li {
        display: inline-block;
        width: 32%;
        text-align: center;
        color: darken($off-white, 25%);
        font: {
            size: 24px;
        }

        span {
            cursor: pointer;

            &:hover {
                color: $off-white;
            }

        }

    }

}

.project--details {
    &-container {
        padding: 15px 0 60px 0;

        // target icons
        & span {
            color: $icon-grey;

            // push text away from icon
            &::before {
                margin-right: 8px
            }
        }

    }

    &-name {
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

}


.fix{
    position: fixed;
    z-index: 3;
    width: 100%;
    padding-left: 50px;

    background: $dark-grey;
}

.contentAnno{
    margin-top:77.5px;
}

.app-header{
    padding: 35px 0 47px 0;
}

.app-header2 {
    padding: 20px 0 0 0;
    height:230px;
    margin-top:-185px;
    -webkit-transition:  margin-top 0.5s ease;
    -moz-transition:  margin-top 0.5s ease;
    -o-transition:  margin-top 0.5s ease;
    transition: margin-top 0.5s ease;

}

.app-headerFull2 {
    padding: 20px 0 0 0;
    height:230px;
    margin-top:0px;
    -webkit-transition:  margin-top 0.5s ease;
    -moz-transition:  margin-top 0.5s ease;
    -o-transition:  margin-top 0.5s ease;
    transition: margin-top 0.5s ease;
}

.headTopRow{
    height:163px;
    padding-left:30px;
    border-bottom:1px solid $text-grey;
    overflow-x: auto;
    white-space: nowrap;
}

.headBotRow{
    height:34px;
    padding:10px 0 0 30px;
    position:relative
}

.pNameFloat{
    float:left;
    margin-right:10px
}

h4{
    padding-top:8px;
}

.active-design {
    border: 3px solid $green;
    border-radius: 3px;
}

.anno-head-img-title{
    padding-bottom:5px;
}

.fa-bars, .fa-times{
    position: absolute;
    right: 40px;
    top: -5px;
    font-size: 30px;
}

.design-head-img {
    max-width: 100%;
    display: block;
    margin-bottom: 10px;
}

.filterBoxes{
    margin-top: 10px
}

.filterBoxes input[type="checkbox"]{
    display:none;
    margin:0 15px 0 5px;
}

.head-design-col {
    display: inline-block;
    width: 200px;
    margin-right: 25px;
}

.label-text {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.label-text:after{
    content: "\f1db";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    font-size: 18px;
    padding-right: 0.5em;
    padding-left:5px;
    /*position: absolute;
    top: 10px;
    left: 0;*/
    }
    &:checked + .label-text:after{
        content: "\f058";
    }

.text-type:after {
    color: $text-color;
}

.layout-type:after {
    color: $layout-color;
}

.image-type:after {
    color: $image-color;
}

.color-type:after {
    color: $color-color;
}

p{
    margin-top:3px
}

.search {

    &--form {
        position: relative;
    }

    &--input {
        padding-left: 35px;
    }

    &--icon {
        position: absolute;
        top: 10px;
        left: 10px;
        color: #9B9B9B;
    }

}

.collaborator--list-item {

    padding: 10px 20px;
    border-bottom: 1px solid $icon-grey;

    &:last-child {
        border-bottom: none;
        padding: 10px 20px 15px 20px;
    }

    .fa {
        cursor: pointer;
    }

}

.fa-arrow-left{
    font-size: 40px
}


input.ng-dirty.ng-invalid{
    border:1px solid red
}

.formError{
    padding: 10px 0px 10px 10px;
    position: absolute;
    display: block;
    left: 340px;
    border-radius: 5px;
    top: 0px;
    width: 185px;
    color: #323232;
    background: #CB4647;
    text-align: left;
}

.project--container-push {
    margin-right: 240px;
}