.task {

    &--row {
        white-space: nowrap;
        overflow-x: auto;
    }

    &--col {
        display: inline-block;
        max-width: 33%;
        margin-right: 20px;
    }

    &--container {
        height: 150px;
        margin-bottom: 20px;
        overflow-y: scroll;
        background: inherit;
    }


    &--item {
        padding: 10px 20px;
        border-bottom: 1px solid $body-bg;
        background: #fff;
    }


    &--checkbox {
        display: none;

    }

    &--checkbox + span:before {
        content: "\f096";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        font-size: 18px;
        color: $red;
        margin-right: 10px;
    }

    &--checkbox:checked + span:before {
        content: "\f046";
    }
}

.task {
    &-container {
        margin-bottom: 20px;
    }
}

.taskBar{
    height:100%;
    position: fixed;
    right: 0px;
    top: 60px;
    z-index: 3;
    background: $dark-grey;
    padding: 0;
}

$task-sidebar-width: 280px;


.task-sidebar-closed {
    padding: 20px 15px 0 15px;
    margin-right:-$task-sidebar-width;
    -webkit-transition:  margin-right 0.5s ease;
    -moz-transition:  margin-right 0.5s ease;
    -o-transition:  margin-right 0.5s ease;
    transition: margin-right 0.5s ease;
}

.task-sidebar-open {
    padding: 20px 15px 0 15px;
    width: $task-sidebar-width;
    margin-right:0px;
    -webkit-transition:  margin-right 0.5s ease;
    -moz-transition:  margin-right 0.5s ease;
    -o-transition:  margin-right 0.5s ease;
    transition: margin-right 0.5s ease;
}

.task--list {
    overflow: scroll;
    height: 100%;
    padding-top: 20px;
    border-top: 1px solid $text-grey;

    &-title {
        color: $off-white;
        margin-bottom: 10px;

        > h4 {
            float: left;
        }

        .pull-right {
            margin-top: 10px;
        }
    }

    &-item {
        padding: 15px 0;
        border-bottom: 1px solid #363636;
    }

    &-item:last-child {
        margin-bottom: 0;
    }

    &-details {
        margin-bottom: 20px;
    }

    &-action {
        color: $off-white;
    }

    &-action label {
        margin-left: 8px;
        color: $off-white;
    }

    &-action .task--checkbox + span:before {
        color: $off-white;
        cursor: pointer;
    }

}

.task--details {
    &-circles {
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        text-align: center;
        line-height: 27px;
        color: $off-white;
    }

    &-date {
        display: inline-block;
        width: 180px;
        font-size: 12px;
        margin-left: 30px;
    }
}

.circles-type- {
    &general {
        border: 2px solid $general-color;
    }

    &color {
        border: 2px solid $color-color;
    }

    &text {
        border: 2px solid $text-type-color;
    }

    &layout {
        border: 2px solid $layout-color;
    }

    &image {
        border: 2px solid $image-color;
    }
}

.task-container {
    height: 37%;
}

.task-container:nth-child(2) {
    padding-top: 40px;
    height: 42%;
}

.owner-task-container {
    height: 80%;
}

.task-complete {
    color: $text-color;

    & .task--action-action {
        text-decoration: line-through;
    }

    & .task--checkbox + span:before {
            color: $text-color;
    }
}

.task--action {

    font-size: 14px;
    &-checkbox {
        float: right;
        padding-top: 2px;
    }

    &-action {
        float: left;
        width: 210px;
        line-height: 21px;
    }
}