[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
display: none !important;
}

@import './../lib/bootstrap-sass-official/assets/stylesheets/_bootstrap';

html, body {
    height: 100%;
}

.table-image {
    background: url('./../media/bg.jpg') center bottom no-repeat;
    // background: red;
    background-size: cover;
    height: 100%
}

.form-container {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
}

.vertical-align {
    position: relative;
    transform: translateY(50%);
}

.center { float: none; margin-left: auto; margin-right: auto; }

@import './partials/_sidebar.scss';

.container-fluid {
    margin-left: 250px // push container away from sidebar
}