// load variables first to override bootstrap
@import './theme/_variables.scss';

// load vendor libraries
@import './../lib/bootstrap-sass-official/assets/stylesheets/_bootstrap';
@import './../lib/fontawesome/scss/font-awesome';

// load base settings
@import './base/base.scss';

@import './layout/_sidebar.scss';
@import './modules/_drag.scss';
@import './modules/_annotate.scss';

.form-container {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
}

.design-img {
    position: relative;
}

.marks {
    width: 15px;
    height: 15px;
    background: red;
    border-radius: 50%;
    position: absolute;
    display: block;
}