[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
display: none !important;
}

@import './../lib/bootstrap-sass-official/assets/stylesheets/_bootstrap';
<<<<<<< HEAD
$main-color: green;
body {
    background: green;
}
=======
>>>>>>> 0c43b0379a6f581f3e627c17748e4d84a060a826
