<!-- NAVIGATION -->
<nav class="navbar navbar-inverse" role="navigation" ng-controller="HeaderCtrl as headCtrl">
    <div class="navbar-header">
        <a class="navbar-brand">MEAN stack</a>
    </div>

    <div class="collapse navbar-collapse navbar-left">
      <ul class="nav navbar-nav" ng-show="showMenu">
        <li><a ng-href="#/movies">Movies</a></li>
      </ul>
    </div>

    <div class="collapse navbar-collapse navbar-right">
        <!-- Menu when not logged in -->
        <ul class="nav navbar-nav" ng-hide="showMenu">
        <li><a ng-href="#/login">Login</a></li>
        <li><a ng-href="#/register">Register</a></li>
        </ul>
        <!-- Menu when logged in -->
        <ul class="nav navbar-nav" ng-show="showMenu">
        <li><a href="javascript:" ng-click="headCtrl.logout()">Logout</a></li>
        </ul>
    </div>
</nav>