<div class="sidebar-wrapper" ng-controller="SidebarController as sidebarCtrl">
    <ul class="sidebar--list">
        <li class="sidebar--list-main">
            <a href="#/projects">
                <img src="./../../../media/icon.png" width="55px">
            </a>
        </li>
        <li class="sidebar--list-item">
            <a href="#/"><span class="fa fa-tachometer fa-2x"></span> <span>Dashboard</span></a>
        </li>
        <li class="sidebar--list-item">
            <a href="#/projects" ng-class="{active: sidebarCtrl.route.current.activeLink == 'projects'}"><span class="fa fa-picture-o fa-2x"></span> <span>Projects</span></a>
        </li>

        <li class="sidebar--list-item">
            <a href="#/tasks"><span class="fa fa-check-square-o fa-2x"></span> <span>Tasks</span></a>
        </li>
    </ul>

    <div class="sidebar--footer" ng-controller="AuthController as authCtrl">
        <div class="col-xs-6 sidebar--footer-div">{{authCtrl.username}}</div>
        <div class="col-xs-6 sidebar--footer-icon"><span class="fa fa-sign-out" ng-click="authCtrl.logout()"></span></div>
    </div>
</div>
<!-- End Sidebar -->