
<div class="modal-header">
    <h2>The title</h2>
</div>
<div class="modal-body">
    <form name="ProjectForm"  ng-submit="projModalCtrl.addProject(projModalCtrl.project)" role="form">
            <div class="form-group">
                <label for="exampleInputEmail1">name</label>
                <input ng-model="projModalCtrl.project.name" type="text" class="form-control"  placeholder="Enter name">
            </div>

            <h1>{{custEmail.email}}</h1>
            <div class="form-group">
                <label for="exampleInputEmail1">desc</label>
                <input ng-model="projModalCtrl.project.desc" type="text" class="form-control"  placeholder="Enter desc">
            </div>

              <button type="submit" class="btn btn-sm btn-default">ADd projects</button>
                <!-- {{regCtrl.user.email}} -->
        </form>
</div>
<div class="modal-footer">
    <button class="btn" ng-click="projModalCtrl.cancel()">Close</button>
</div>
