<div class="container-fluid">
    <div id="content-wrapper">
        <div class="page-content">
        <div class="row">

            <modal template="addproject" ctrl="ProjectModalController" ctrlAs="projectModalCtrl" objectId="12345" btnClass="default">New Project</modal>

            <div class="col-xs-12">
                <h1>Projects</h1>
            </div>
            <select ng-model="orderProp" name="select">
                <option  value="name">By Name</option>
                <option value="-created">Latest</option>
                <option selected value="created">Oldest</option>
            </select>




            <!-- <input ng-model="Name" type="text"> -->
            <div class="row">
                <ul class="list-unstyled">
                    <li class ="col-md-4" ng-repeat="proj in projectCtrl.projects | orderBy: orderProp">
                    <p>Name:  {{ proj.name }}  <br/>Descrption:  {{ proj.desc }}</p>

                        <div class="project-img">
                            <a href="#/projects/{{proj._id}}">
                                <img ng-src="{{ proj.thumbnail }}" alt="" width="100%">
                            </a>

                            <p>{{ proj.designCount }} designs</p>
                        </div>

                            <modal template="deleteProject" ctrl="ProjectModalController" id="{{proj._id}}" name="{{proj.name}}" size="sm">delete</modal>



                       <!--  <ul>
                            <li ng-repeat="colab in proj.collaborators track by $index">
                                {{colab.username}}
                            </li>
                        </ul> -->
                    </li>

                </ul>
            </div>
        </div>

        </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
</div>