<div class="container-fluid">
    <div id="content-wrapper">
        <div class="page-content">
        <div class="row">

                <div class="col-xs-3">
                    <div class="form-group">
                        <input ng-model="Name" type="text" placeholder="Search project by name" class="form-control">
                    </div>
                </div>
                <div class="col-xs-3">
                    <select ng-model="orderProp" class="form-control">
                        <option value="" selected>Sort by</option>
                        <option value="name">By Name</option>
                        <option value="-created">Latest</option>
                        <option value="created">Oldest</option>
                    </select>
                </div>

                <div class="col-xs-1 col-xs-offset-4">
                    <span class="btn btn-success" modal ctrl="ProjectModalController" ctrlAs="projectModalCtrl" template="addproject">Add new project</span>

                </div>

            <div class="col-xs-12">
                <h1>Projects</h1>
            </div>

            <div class="row">
                <ul class="list-unstyled">
                    <li class ="col-xs-4" ng-repeat="proj in projectCtrl.projects | orderBy: orderProp |filter: Name">
                    <p>Name:  {{ proj.name }}  <br/>Descrption:  {{ proj.desc }}</p>

                        <div class="project-img">
                            <a href="#/projects/{{proj._id}}">
                                <img ng-src="{{ proj.thumbnail }}" alt="" width="100%">
                            </a>

                            <p>{{ proj.designCount }} designs</p>
                        </div>

                            <span modal template="deleteProject" ctrl="ProjectModalController" id="{{proj._id}}" name="{{proj.name}}" size="sm" class="btn btn-danger">delete</span>



                       <!--  <ul>
                            <li ng-repeat="colab in proj.collaborators track by $index">
                                {{colab.username}}
                            </li>
                        </ul> -->
                    </li>

                </ul>
            </div>
        </div>

        </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
</div>