<div class="container-fluid">
    <div id="content-wrapper">
        <div class="page-content">
            <div class="row">

                <div class="app-header">
                    
                    <div class="col-xs-3">
                        <h1>{{taskCtrl.tasks[0].assignedBy.username}} </h1>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group search--form">
                            <input ng-model="Name" type="text" placeholder="Search design by name" class="form-control search--input">
                            <i class="fa fa-search search--icon"></i>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <select ng-model="orderProp" class="form-control">
                            <option value="" selected>Sort by</option>
                            <option value="name">By Name</option>
                            <option value="-created">Latest</option>
                            <option value="created">Oldest</option>
                        </select>
                    </div>


                </div>
            </div>

            <div class="row">
                <ul>
                     <li class ="col-md-4" ng-repeat="task in taskCtrl.tasks | orderBy: orderProp |filter: Name">
                        <div class="project--container">
                            <div class="project--img-container">
                                <a href="#/design/{{task.design._id}}">
                                 <img ng-src="{{task.design.img.thumbnail}}" width="100%">
                                </a>
                                <div class="project--img-bg"></div>
                                <div class="project--img-settings">

                                    <ul class="project--img-icons">
                                        <li>
                                            <a href="#/design/{{task.design._id}}"><span class="fa fa-eye"></span></a>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>
                            <div class="project--details">

                                <div class="project--details-container">
                                    <p>Assigned by: {{task.assignedBy.username}}</p>
                                    <p>Task description: {{task.action}}</p>
                                    <p>Created on :{{task.created}}</p>
                                 </div>
                            </div>
                        </div>
                    </li>
                </ul>    
             </div>



        </div> <!-- img-container -->
    </div> <!-- container -->
</div><!-- End Page Content -->
    
