<div class="container-fluid">
    <div id="content-wrapper">
        <div class="page-content">
            <div class="row">

                <div class="app-header">

                    <div class="col-xs-3">
                        <h1>{{taskCtrl.tasks[0].assignedBy.username}} </h1>
                    </div>
                    <div class="col-xs-3">
                        <div class="form-group search--form">
                            <input ng-model="Name" type="text" placeholder="Search design by name" class="form-control search--input">
                            <i class="fa fa-search search--icon"></i>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <select ng-model="orderProp" class="form-control">
                            <option value="" selected>Sort by</option>
                            <option value="name">By Name</option>
                            <option value="-created">Latest</option>
                            <option value="created">Oldest</option>
                        </select>
                    </div>


                </div>
            </div>

            <!-- every project has its own row -->
                <!-- within that every design has its own col -->
                    <!-- every task has a list of task objects -->

            <div class="row task--row" ng-repeat="(key, value) in taskCtrl.tasks" data-peoject="{{key}}">

            <h2>{{key}}</h2>

                <ul>
                     <li ng-repeat="designObj in value" class="task--col">

                     <h3>{{designObj.design.name}}</h3>

                        <div class="project--img-container">
                            <a href="#/design/{{designObj.design._id}}">
                                 <img ng-src="{{designObj.design.img.thumbnail}}" width="100%">
                            </a>
                        </div>

                        <ul class="task--container">
                            <li ng-repeat="task in designObj.task" class="task--item">

                                <div class="task--checkbox-container">
                                    <label>
                                    <input type="checkbox" class="task--checkbox" ng-click="taskCtrl.updateTask(task)" ng-checked="{{task.isComplete}}">
                                    <span>{{task.action}}</span>
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>

        </div> <!-- img-container -->
    </div> <!-- container -->
</div><!-- End Page Content -->

