<div class="project--sidebar">
    <div class="project--specs">
        <h2>{{SingProjectCtrl.project.name}}</h2>
        <!-- <span popover="{{SingProjectCtrl.printCollaborators(SingProjectCtrl.project.collaborators)}}" popover-trigger="mouseenter" popover-placement="left">here</span> -->
        <div class="project--specs-details">
            <div class="project--specs-date clearfix">
                <p>Last updated<span am-time-ago="SingProjectCtrl.project.updated" class="pull-right"></span></p>
            </div>

            <p>{{SingProjectCtrl.project.desc}}</p>
        </div>
    </div>
    
    <div class="project--collabs">
        <h4 class="project--collabs-title" popover="{{SingProjectCtrl.collaborators}}" popover-trigger="mouseenter" popover-placement="bottom">collaborators</h4> 
        <span>({{SingProjectCtrl.project.collaborators.length}})</span>
        <!-- if collabarorators do this -->
        <!-- <ul class="project--collabs-list">
            <li ng-repeat="collab in SingProjectCtrl.project.collaborators" class="project--collabs-list-item" >
                <p class="project--collabs-name">{{collab.username}}</p>
            </li>
        </ul> -->

        <!-- <a href="#" class="project--collabs-add pull-right">add collaborator</a> -->
    </div>
    <!-- /.project--collabs -->

    <div class="project--timeline">
        <h4 class="project--timeline-title">recent activities</h4>
        <!-- show if there are any recent activites -->
        <section class="recent--timeline">
            <ul class="recent--timeline-list">
                <li class="recent--timeline-item clearfix" ng-repeat="activity in SingProjectCtrl.project.recentActivities | orderBy:'completedDate':true">
                    <!-- circle -->
                    <span class="timeline--circle">
                        <span class="fa" ng-class="SingProjectCtrl.getActivtyIcon(activity.activityType)"></span>
                    </span>
                    <div class="timeline--details">
                        <a href="#"> <!-- link to either task or design -->
                            {{activity.activityType}}
                        </a>
                        <span class="timeline--details-date" am-time-ago="activity.completedDate"></span>
                    </div>
                </li>
            </ul>
        </section>
    </div>
    <!-- /.project--timeline -->

    <!-- drag area for uploading images -->
    <div class="project--upload">
        <div
            ng-file-drop
            ng-model="files"
            class="drop-box"
            drag-over-class="{
                accept:'dragover',
                reject:'dragover-err',
                delay:100
            }"
            multiple="false"
            allow-dir="false"
            accept="image/*"
            ng-file-drop
            ng-file-change="SingProjectCtrl.onFileSelect($files)"
            >
            <div class="div">
                <div class="drag-container">
                    <i class="fa fa-cloud-upload"></i>
                    <p>drag and drop to upload design</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.project--upload -->
</div>

<div class="container-fluid project--container-push">
    <div id="content-wrapper">
        <div class="page-content">
            <div class="row">

                <div class="app-header">
                  <div class="col-md-5">
                        <div class="form-group search--form">
                            <input ng-model="Name" type="text" placeholder="Search design by name" class="form-control search--input">
                            <i class="fa fa-search search--icon"></i>
                        </div>
                    </div>
                    <div class="col-md-3 pull-right">
                        <select ng-model="orderProp" class="form-control">
                            <option value="" selected>Sort by</option>
                            <option value="name">By Name</option>
                            <option value="-created">Latest</option>
                            <option value="created">Oldest</option>
                        </select>
                    </div>


                </div>
            </div>
            <div class="row">
                <ul class="list-unstyled">
                    <li class ="col-md-6" ng-repeat="des in SingProjectCtrl.project.designs | orderBy: orderProp |filter: Name">
                        <div class="project--container">
                            <div class="project--img-container">
                                <div class="project-img">
                                    <a href="#/design/{{des._id}}">
                                        <img ng-src="{{ des.img.thumbnail }}" alt="" width="100%">
                                    </a>
                                </div>

                                <div class="project--img-bg"></div>
                                    <div class="project--img-settings">
                                        <ul class="project--img-icons">
                                            <li>
                                                <a href="#/design/{{des._id}}"><span class="fa fa-eye"></span></a>
                                            </li>
                                            <!-- <li ng-if="projectCtrl.isOwner(proj.owner)">
                                                <a modal ctrl="ProjectModalController" template="editproject" size="sm" id="{{proj._id}}"><span class="fa fa-edit"></span></a>
                                            </li>-->
                                            <li ng-if="SingProjectCtrl.isOwner(SingProjectCtrl.project.owner)">
                                                <modal template="deletedesign" ctrl="SingleProjectModalController" id="{{des._id}}" name="{{des.name}}" size="sm">
                                                    <span class="fa fa-trash-o"></span>
                                                </modal>

                                            </li>
                                        </ul>
                                    </div>
                            </div>
                            <div class="project--details">
                                <div class="project--details-container">
                                    <div class="project--details-name col-md-6">
                                        <h4><a href="#/design/{{des._id}}">{{ des.name}}</a>   </h4>
                                    </div>

                                </div> <!-- details-container -->
                            </div>  <!-- project--details -->
                            <!-- </li> -->
                        </div> <!-- img-container -->
           
                    </li>
                </ul>
            </div>
        </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
</div><!-- container -->
