<div class="container-fluid">
    <div id="content-wrapper">
        <div class="page-content">
        <div class="row">
        <!-- <button ng-click="SingProjectCtrl.openModal()">create project</button> -->
        <!-- <button ng-click="SingProjectCtrl.open('lg')">create project</button>
            <div class="col-xs-12">
                <h1>Projects</h1>
            </div> -->

            <div class="row">
                <h1>{{SingProjectCtrl.project.name}}</h1>
                <ul class="list-unstyled">
                    <li class ="col-md-4" ng-repeat="des in SingProjectCtrl.project.designs">
                    <p>Name: {{ des.name}}   <br/>Description:  {{ des.desc }}</p>

                    <div class="project-img">
                        <a href="#/design/{{des._id}}">
                            <img ng-src="{{ des.img.thumbnail }}" alt="" width="100%">
                        </a>

                    </div>
                            <button class="btn btn-danger" ng-click="SingProjectCtrl.deleteProject(proj._id)">delete</button>



                       <!--  <ul>
                            <li ng-repeat="colab in proj.collaborators track by $index">
                                {{colab.username}}
                            </li>
                        </ul> -->
                    </li>

                    <li class="col-md-4">
                        <div
                            ng-file-drop
                            ng-model="files"
                            class="drop-box"
                            drag-over-class="{
                                accept:'dragover',
                                reject:'dragover-err',
                                 delay:100
                            }"
                            multiple="false"
                            allow-dir="false"
                            accept="image/*"
                            ng-file-drop
                            ng-file-change="SingProjectCtrl.onFileSelect($files)"
                        >
                                    <div class="div">
                                        test
                                    </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>


        </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
</div>