$sidebar-height: 60px;

.sidebar-wrapper {
  width: $sidebar-width;
  position: fixed;
  height: 100%;
  z-index: 999;
  background: $dark-grey;
}

.design-page {
  .sidebar-wrapper {
    width: $closed-menu;
  }

  .sidebar--list-item {
    width: $closed-menu;
  }
}

.sidebar--list {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  text-indent: 20px;
  overflow-x: hidden;
  overflow-y: auto;

  &-main {
    height: 100px;
    background: $blue;

    & img {
      display: block;
      margin: 0 auto;
      padding-top: 15px;
    }
  }

  // sidebar--list-item
  &-item {
    text-decoration: none;
    width: $sidebar-width;
    height: $sidebar-height;

    .fa {
      display: inline;
      margin-right: 25px;
      vertical-align: middle;
    }

    & a {
      color: $text-grey;
      width: $sidebar-width;
      display: block;
      text-indent: 25px;
      font-size: 15px;
      line-height: $sidebar-height;
      text-decoration: none;

      &:hover {
        border-left: 3px solid $blue;
        text-indent: 22px;
        color: lighten( $text-grey, 50% )
      }

    }

  }

}

.sidebar--footer {
  position: absolute;
  height: $sidebar-height / 1.5;
  bottom: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  transition: all .6s ease 0s;
  text-align: center;
  background: lighten($dark-grey, 3%);
  color: $text-grey;

  &-div {
    line-height: 40px;
  }

  &-icon {
    line-height: 41px;
    cursor: pointer;
    font: {
      size: 20px;
    }
  }

}

.design-page {
  .sidebar--footer{
    &-div {
      display: none;
    }
    &-icon {
      width: 100%;
    }
  }
}

.design-page{
  text-indent:5px;
}
.design-page .sidebar--list-item a{
  text-indent:9px;
}

.design-page .sidebar--list-main{
  height:50px
}
.design-page .sidebar--list-main > img{
  width:50px;
  padding-top:0px;
}
