@import './_reset.scss';
@import './_html.scss';
@import './_ng.scss';

// remove on all links
a, a:hover {
    text-decoration: none;
}

// mixins
.vertical-align {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}